{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
{{post.title}}
{% endblock title %}
{% block body %}


<div class="card mt-4" >
  <img src="{{post.cover.url}}" class="card-img-top img-fluid" alt="{{post.title}}">
  <div class="card-body">
    <small>
      <a href="{% url 'post:post-edit' post.slug %}">
        <button type="submit" class="btn btn-small btn-primary">Edit</button>
      </a>

      <a href="{% url 'post:post-delete' post.slug %}">
        <button type="submit" class="btn btn-small btn-danger">Delete</button>
      </a>
    </small>
    <h5 class="card-title">{{post.title}}</h5>
    <p class="card-text">
      {{post.content|linebreaks}}
    </p>
  </div>

</div>
<form action="" method="post"> {% csrf_token %}
  {{form|crispy}}
  <button type="submit" class="btn btn-block btn-success">Comment</button>
</form>

{% for comment in comments %}
<div class="alert alert-light" role="alert">
  {{comment.content}} <small>{{comment.created_by}}</small>
</div>
{% endfor %}
{% endblock body %}